
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';

@theme inline {
  --font-sans: Geist;
}

@plugin "daisyui" {
  themes: false;
}

@plugin "daisyui/theme" {
  name: 'mega';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: #ffffff;
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #004aad;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: #ffd200;
  --color-secondary-content: #004aad;
  --color-accent: #00bfa6;
  --color-accent-content: #ffffff;
  --color-neutral: #1c1c1c;
  --color-neutral-content: #ffffff;
  --color-info: #3abff8;
  --color-info-content: #ffffff;
  --color-success: #36d399;
  --color-success-content: #ffffff;
  --color-warning: #fbbd23;
  --color-warning-content: #ffffff;
  --color-error: #f87272;
  --color-error-content: #ffffff;
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.28125rem;
  --size-field: 0.28125rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 1;
}
